*{
	margin: 0px;
	padding: 0px;
}

html{
	height: 100%;

}

body{
	align-items: center;
	background: yellow;
	display: flex;
	height: 100%;
	justify-content: center;
}

.sessao {
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: #222 0px 10px 25px;

}

.form-titulo{
	margin-bottom: 20px;

}

.form-info{
	margin-bottom: 20px ;
}